.header {
	position: relative;
}

.header__tools {
	display: grid;
	grid-template-columns: min-content auto min-content;

	@media ( min-width: $width ) {
		grid-template-columns: auto min-content;
	}
}

.header__logo {
	display: flex;
	justify-content: center;

	@media ( min-width: $width ) {
		justify-content: flex-start;
	}
}

.header__menu-toggle {
	@media ( min-width: $width ) {
		display: none;
	}
}

.header__search {
	display: none;
	padding: var( --eatsGap );
	background-color: var( --eatsBlue );

	.no-js &,
	&.is-open {
		display: block;
	}

	@media ( min-width: $width ) {
		position: absolute;
		top: 100%;
		right: 0;
		margin: 0;
		width: 360px;
	}
}