.logo {
	display: flex;
	align-items: center;
	vertical-align: bottom;
	text-decoration: none;

	&:hover {
		color: var( --eatsYellow );
	}
}

.logo__icon {
	display: block;
	width: 52px;
	height: 52px;
	fill: currentColor;
}

.logo__text {
	@extend .screen-reader-text;

	@media ( min-width: $width ) {
		.logo & {
			clip: none;
			position: static;
			padding-left: calc( var( --eatsGap ) / 2 );
			font-weight: bold;
			font-size: 18px;
		}
	}
}